.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow:
    0 1px 6px #11111629,
    0 1px 1px #11111629,
    0 2px 1px #11111629;
  position: relative;
}
.img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.descr {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title {
  margin-bottom: 10px;
  flex-grow: 1;
}
.span {
  font-weight: 600;
}
.link {
  position: absolute;
  inset: 0;
}

@media only screen and (min-width: 768px) {
  .item {
    width: calc((100% - 40px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .item {
    width: calc((100% - 80px) / 5);
    border: 1px solid transparent;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item:hover,
  .item:focus-visible {
    border-color: #032541;
  }
}
